.products-page {
    display: flex;
    justify-content: center;
}

.product-page {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    gap: 30px;
}
.product-name{
    font-size: 1.5rem;
    padding: 10px;
}

.product-listings {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  
}
.product-page p{
    font-weight: 400;
   


}

.product-listing {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.product-listing button {
    background-color: #564E3B;
    color: white;
    height: 50px;
    width: 111px;
    border-radius: 5px;
}

.product-listing button:hover {
    background-color: #6C0345;
}

.product-listing button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.77px;
    margin: 0 auto;
}

.product-listing-des {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 22.77px;
    padding: 10px;
    height: 38px;
}

.product-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
    color: #6C0345;
    padding: 10px;
}

/* Media Queries */

@media (max-width: 1000px) {
    .product-page {
        padding: 30px;
    }
    .product-listing {
        gap: 40px;
    }
    .product-img img{
        width:40vw;
        height: auto;


    }
    .product-listing button p {
        font-size: 14px;
    }
    .product-listing-des, .product-name {
        font-size: 16px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .products-page {
        flex-direction: column;
        align-items: center;
    }
    .product-page {
        padding: 20px;
        height: 30vh;
      
    }
    .product-listings {
        margin-top: 20px;
        gap:30px
    }
  
    
    .product-listing button {
        width: 100px;
        font-size: 14px;
    }
    .product-listing-des, .product-name {
        font-size: 16px;
    }
    .product-price {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .product-page {
        gap:10px;
        height: 23vh;
    }
    .product-listing {
     
      
        gap: 10px;
    }
    .product-listings{
        margin-top: 5px;
        gap:45px;
    }
    .product-listing button {
        width: 80px;
        height: 40px;
        margin: 2px;
        padding: 2px;
    }
    .product-listing button p {
        font-size: 12px;
    }
    .product-listing-des, .product-name {
        font-size: 14px;
    }
    .product-price {
        font-size: 16px;
    }
}
